footer {
    background-color: var(--color-PurpleMariposa);
    padding-top: 0px;
    padding: 20px 14px 20px 14px;
     
}


.Foot--foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}
.footer img{
    top: 20px
}

.footer__nosotros{
    text-align: left;
    min-width: 100px;
    padding: 0 14px;
}
.footer__nosotros h3{
    color:var(--color-PearlWhite);

}
.footer__nosotros p{
    color:var(--color-PearlWhite);

}

.footer__enlaces {
    min-width: 100px;
    padding: 0 14px;
}

.footer__enlaces h3 {
    margin-bottom: 10px;
    color:var(--color-PearlWhite);
}

.footer__enlaces ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__enlaces li {
    margin-bottom: 8px;
    
}

.footer__enlaces a {
    text-decoration: none;
    color:var(--color-PearlWhite);

}

.footer__enlaces a:hover {
    color: var(--color-CoolGray);
    /* Cambia el color al pasar el mouse */
}


.footer__contacto {
    text-align: left;
    min-width: 100px;
    padding: 0 14px;
    margin-bottom: 45px;
}

.footer__contacto h3{
    margin-bottom: 10px;

    color:var(--color-PearlWhite);

}
.footer__contacto ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__contacto ul li {
    color:var(--color-PearlWhite);
}

.social--media{

}
.border-line{
    background-color: var(--color-PearlWhite);
    padding: 1px;
}
.social--media a{
text-decoration: none;
color: black;
font-size: 25px;
margin-left: 10px;
}

.social--media p{
    text-align: center;
    color: var(--color-PearlWhite);
}

.fa-brands fa-instagram, .fa-brands fa-facebook-f{
    color: #fff
}

/* verificar, tendrían que estar del mismo color que el resto de las cosas */

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        align-items: center;

    }

    .footer__enlaces {
        text-align: center;
        margin-bottom: 20px;
    }
}