/* reglas generales y variables */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

header {
    background-color: var(--color-SalmonRed);

    .container-fluid {
        background-color: inherit;

    }

    .container {
        padding: 30px 14px;
        margin: 0;

        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

    }

    .navbar {
        display: flex;

        align-items: center;

        align-items: center;
        justify-content: center;
        position: relative;
    }

    .header__enlaces {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .header__enlaces nav {
        flex-grow: 1;
        justify-content: space-between;
    }

    .header__enlaces ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .header__enlaces li {
        flex-grow: 1;
        text-align: center;
    }

    .header__enlaces li:first-child {
        text-align: left;
        flex-grow: 0;
    }

    .header__enlaces a {
        color: var(--color-PearlWhite);
        text-decoration: none;

    }


    .hidden {
        display: none;
    }



    /*MODAL*/

    .modal-content {
        background-color: var(--color-PearlWhite);
    }
    .modal-content section{
        padding: 40px 20px;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s; 
    }
  .modal-content section:hover {
        transform: scale(1.02); 
    }

    .modal-content .btn {
        background-color: var(--color-SmokyBlue);
        color: white;
        border: none;
        padding: 12px 24px;
        border-radius: 25px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s, transform 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .modal-content .btn:hover {
        background-color: var(--color-SalmonRed);
        transform: scale(1.05); 
    }

    .navbar-a {
        position: absolute;
        top: 50px;
        right: 30px; /*NO SE ESTA EJECUTANDO LO PISA EL DE PC*/
    }

    @media (min-width: 768px) {
        .header__enlaces .navbar-a1 {
            display: none;
        }

        .navbar-a {

            right: 50px;
        }

        #menu img {
            display: none;
        }
    }

    @media (min-width: 1024px) {
        #menu {
            display: block;
        }

    }
}

/* REGISTRO */
body.register {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: var(--color-PurpleMariposa);
    margin: 0;
    padding: 0;
}

.register .form-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.register h1 {
    color: var(--color-PurpleMariposa);
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--color-LipstickRed);
    padding-bottom: 10px;
}

.register field-group {
    margin-bottom: 20px;
}

.register field-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
}

.register label[for="description"] {
    font-weight: 500;
}

.register field-group input,
field-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-PurpleMariposa);
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register field-group input:focus, field-group textarea:focus {
    outline: none;
    border-color: var(--color-LipstickRed);
}

.register form-text {
    color: var(--color-SalmonRed);
    font-size: 0.9rem;
    display: none;
}

.register form-text.alert-hide {
    display: none;
}

.register categories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.register categories input {
    margin-right: 5px;
}

.register categories label {
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
}

/* no me toma el redondeado */

.register button{
    background-color: var(--color-SmokyBlue);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 5px;
}

.register button:hover, .btn:hover {
    background-color: var(--color-LipstickRed);
    transform: scale(1.05);
}

.register button[type="reset"] {
    background-color: var(--color-PurpleMariposa);
}

.register button[type="reset"]:hover {
    background-color: var(--color-LipstickRed);
}

.register input[type="checkbox"] {
    margin-right: 5px;
}

label[for="tyc"] {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.register text-danger {
    color: var(--color-LipstickRed);
    font-size: 0.9rem;
    display: none;
}

@media (max-width: 768px) {
    .register form-container {
        padding: 20px;
    }

    .register h1 {
        font-size: 1.8rem;
    }

    .register button, btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .register categories {
        flex-direction: column;
    }
}