/* reglas generales y variables */

* {
    margin : 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  
}

header {
    background-color: var(--color-PurpleMariposa);
  
    .container-fluid {
        background-color: inherit;
       
    }
    .container{
        padding: 30px 14px;
   
        margin: 0;
      
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
        border-radius: 10px; 
 
    }
    .navbar {
        display: flex;
      
        align-items: center;
        padding: 10px;
        align-items: center; justify-content: center;
    }

    .header__enlaces {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    
    .header__enlaces nav {
        flex-grow: 1;
        justify-content: space-between;
    }

    .header__enlaces ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .header__enlaces li {
        flex-grow: 1;
       text-align: center;
    }
    .header__enlaces li:first-child {
        text-align: left; 
        flex-grow: 0;
    }
    
    .header__enlaces a {
        color: var(--color-PearlWhite);
        text-decoration: none;
   
    }

    
    .hidden {
        display: none;
    }



    /*MODAL*/
    
    .modal-content {
        background-color: var(--color-PearlWhite); 
      }
    .modal-content .btn {
        background-color: var(--color-LipstickRed);
        color: white;
        border: none;
        padding: 12px 24px;
        border-radius: 25px; 
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s, transform 0.3s; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }


    @media (max-width: 768px) {
        .header__enlaces nav {
            display: none;
        }

        .header__enlaces #menu-toggle {
            display: block;
        }
        
        
    }

    @media (min-width: 1024px) {
        #menu {
            display: block;
        }
        #menu-toggle {
            display: none;
        }
        .header__enlaces .navbar-a1 {
            display: none;
        }
    }
}

/* FORMULARIOS */