@import url('./general.css');
@import url('./home.css');

/* HEADER */
header {
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 10px 0px 10px;
    background-color: rgb(91, 90, 90);
}

.navbar a {
    font-size: 2rem;
}

.container {}

/* MAIN */
main {}

/* Estilo para el banner */
.banner {
    position: relative;
    background-image: url('/img/fondoBanner');
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.banner h1 {
    color: white;
    font-size: 2.4rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* falta ajustar posicion de las tarjetas*/
.div_cards {

}
.div_card{

}

/* FORMULARIOS */

/* login*/
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.form-text {
    color: red;
    display: none; 
}

.form-text.visible {
    display: block;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    margin-left: 5px;
}


/* FOOTER */
footer {
    background-color: rgb(91, 90, 90);
    display: flex;
    justify-content: space-around;

}