:root {
  --color-LipstickRed: #e30258;
  --color-SmokyBlue: #7cb0ba;
  --color-CoolGray: #072d42;
  --color-SalmonRed: #faaa8d;
  --color-PearlWhite: #feefdd;
  --color-PurpleMariposa: #412043;
  --color-RosaButterf: #e83a76;
  --color-PurpleDos: #5e4360;
  --color-GreenApproved: #9DCD5A;
  --color-RedDenied: #BC1823;
  --color-PurpleTres: #713274;

}
