<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{ title : 'Listado de Usuarios' }) %>

<body class="admin">
    <%- include('./partials/header-admin',{ title : 'Listado de Usuarios' }) %>
   
    <main >
      <div class="admin--bar">
      <div class="admin--titleBar">
    <h3 class="admin--title">Lista de usuarios</h3>
    </div>
    </div>
       
 
        <nav class="navbar bg-body-tertiary" style="background-color: navajowhite"
            <div class="container-fluid">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
<section>
  <article class="card">
    <div class="card--body_example">
      <img src="https://reddigitalizadas.com.ar/wp-content/uploads/2023/09/cookies-TS-750x1000.jpg" class="img-fluid rounded-start" alt="...">
    
      <div class="card--structure">
      <h5>[EmprendiXX]</h5>
   
      <div class="buttons--admin__users">
  
    <button type="button" class="buttons__edit">
    <i class="fa-solid fa-pen"></i>
  </button>
<button type="button" class="buttons__suspend" data-bs-toggle="modal" data-bs-target="">     
<i class="fa-solid fa-ban"></i>
</button> 
<button type="button" class="buttons__delete" data-bs-toggle="modal" data-bs-target="#Approved?">
    <i class="fa-solid fa-trash-can" aria-hidden="true"></i> </button>
  </div>
  
    
    </div>
    </div>
  </article>

  <article class="card">
    <div class="card--body_example">
      <img src="https://reddigitalizadas.com.ar/wp-content/uploads/2023/09/cookies-TS-750x1000.jpg" class="img-fluid rounded-start" alt="...">
    
      <div class="card--structure">
      <h5>[EmprendiXX]</h5>
   
      <div class="buttons--admin__users">
  
    <button type="button" class="buttons__edit">
    <i class="fa-solid fa-pen"></i>
  </button>
<button type="button" class="buttons__suspend" data-bs-toggle="modal" data-bs-target="">     
<i class="fa-solid fa-ban"></i>
</button> 
<button type="button" class="buttons__delete" data-bs-toggle="modal" data-bs-target="#Approved?">
    <i class="fa-solid fa-trash-can" aria-hidden="true"></i> </button>
  </div>
  
    
    </div>
    </div>
  </article>
  <article class="card">
    <div class="card--body_example">
      <img src="https://reddigitalizadas.com.ar/wp-content/uploads/2023/09/cookies-TS-750x1000.jpg" class="img-fluid rounded-start" alt="...">
    
      <div class="card--structure">
      <h5>[EmprendiXX]</h5>
   
      <div class="buttons--admin__users">
  
    <button type="button" class="buttons__edit">
    <i class="fa-solid fa-pen"></i>
  </button>
<button type="button" class="buttons__suspend" data-bs-toggle="modal" data-bs-target="">     
<i class="fa-solid fa-ban"></i>
</button> 
<button type="button" class="buttons__delete" data-bs-toggle="modal" data-bs-target="#Approved?">
    <i class="fa-solid fa-trash-can" aria-hidden="true"></i> </button>
  </div>
  
    
    </div>
    </div>
  </article>
    
</section>
<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a>
        </li>
      <li class="page-item"><a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

</section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>