<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{ title : 'Listado de Usuarios' }) %>

<body class="admin">
    <%- include('./partials/header',{ title : 'Listado de Usuarios' }) %>
   
    <main>
        <h2>Listado de Usuarios</h2>
        <nav class="navbar bg-body-tertiary" style="background-color: navajowhite"
            <div class="container-fluid">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
<section>
    <article>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://reddigitalizadas.com.ar/wp-content/uploads/2024/04/IMG-20240115-WA0016-355x250.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">[Emprendimiento Azul]</h5>
              
              <i class="fa-solid fa-pen"></i>
              <i class="fa-solid fa-ban"></i>
              <i class="fa-solid fa-trash-can"></i>
            </div>
          </div>
        </div>
      </div>
      </article>
      <article>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://reddigitalizadas.com.ar/wp-content/uploads/2024/04/IMG-20240115-WA0016-355x250.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">[Emprendimiento Celeste]</h5>
                  
                  <i class="fa-solid fa-pen"></i>
                  <i class="fa-solid fa-ban"></i>
                  <i class="fa-solid fa-trash-can"></i>
                </div>
              </div>
            </div>
          </div>
          </article>
          <article>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="https://reddigitalizadas.com.ar/wp-content/uploads/2024/04/IMG-20240115-WA0016-355x250.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">[Emprendimiento Pastel]</h5>
                      
                      <i class="fa-solid fa-pen"></i>
                      <i class="fa-solid fa-ban"></i>
                      <i class="fa-solid fa-trash-can"></i>
                    </div>
                  </div>
                </div>
              </div>
              </article>
              <article>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://reddigitalizadas.com.ar/wp-content/uploads/2024/04/IMG-20240115-WA0016-355x250.jpg" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">[Emprendimiento Cielo]</h5>
                          
                          <i class="fa-solid fa-pen"></i>
                          <i class="fa-solid fa-ban"></i>
                          <i class="fa-solid fa-trash-can"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  </article>
</section>
<nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a>
        </li>
      <li class="page-item"><a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

</section>
    </main>
    <%- include('./partials/footer') %>

</body>
</html>