<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title: 'Contáctanos' }) %>

<body>
    <%- include('../partials/header',{title: 'Registro' }) %>
<main>
<p>Ayuda!!!!!!!!!!!!!!!!</p>
</main>
          <%- include('../partials/footer') %>

</body>
</html>