<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head', { title: 'Home' }) %>
    <body class="home">
        <%- include('./partials/header', { title: 'home' }) %>
        <div class="container">
            <main class="container-fluid">
                <div id="caruseldeimagenes" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/Sin título.png" class="d-block w-100" alt="Imagen 1">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/foto2.jpg" class="d-block w-100" alt="Imagen 2">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/foto3.jpg" class="d-block w-100" alt="Imagen 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#caruseldeimagenes" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#caruseldeimagenes" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>

                <div class="info">
                    <section class="mujeres-migrantes">
                        <h2>¿Qué es mujeres migrantes?</h2>
                        <p>Texto a definir por la fundación</p>
                    </section>
                    <section class="mujeres-emprendedoras">
                        <h2>Mujeres emprendedoras</h2>
                        <p>Texto a definir por la fundación</p>
                        <a class="btn btn-outline-dark" href="/catalog">Conocelas</a>
                        <a class="btn btn-outline-dark" href="/register">Sumate</a>
                    </section>
                    <section class="gifts">
                        <h2>Regalos empresariales</h2>
                        <p>Texto a definir por la fundación</p>
                        <a class="btn btn-outline-dark" href="/catalog">Conocelas</a>
                    </section>
                </div>
            </main>
            
            <div class="container-fluid">
                <%- include('./partials/footer') %>
            </div>
        </div>
    </body>
</html>
