<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{ title : 'Home' }) %>

    <body>
        <header>

            <nav class="navbar">
                <div class="container">
                    <a class="navbar-a" href="/menu">
                        <i class="fa-solid fa-bars" style="color: #e3ebf8;"></i>
                    </a>
                    <a class="navbar-a" href="/login"> <i class="fa-solid fa-right-to-bracket"
                            style="color: #e3ebf8;"></i></a>
                </div>
            </nav>

        </header>
        <main>
            <div class="banner">
                <h1>Red de mujeres emprendedoras</h1>
            </div>

            <!--buscador de categorias-->

            <nav class="navbar">
                <div class="container-fluid">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar categorias"
                            aria-label="Search">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" style="background-color: rgb(91, 90, 90);"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorias
                            </button>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">Categoria 1</button></li>
                                <li><button class="dropdown-item" type="button">Categoria 2</button></li>
                                <li><button class="dropdown-item" type="button">Categoria 3</button></li>
                            </ul>
                        </div>

                    </form>
                </div>
            </nav>
            <div class="shop">
      
                <div class="card" style="width: 18rem;">
                    <img src="/public/img/" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque </p>
                        <a href="https://www.instagram.com"> <i class="fa-brands fa-instagram"></i></a>
                        <a href="https://wa.me/"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="/public/img/" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque </p>
                        <a href="https://www.instagram.com"> <i class="fa-brands fa-instagram"></i></a>
                        <a href="https://wa.me/"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="/public/img/" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque </p>
                        <a href="https://www.instagram.com"> <i class="fa-brands fa-instagram"></i></a>
                        <a href="https://wa.me/"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="/public/img/" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque </p>
                        <a href="https://www.instagram.com"> <i class="fa-brands fa-instagram"></i></a>
                        <a href="https://wa.me/"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="about">
                <h3>Sobre nosotros</h3>
            </div>
            <div class="explore">
                <h3>Explorá</h3>
            </div>
            <div class="resources">
                <h3>Recursos</h3>
            </div>
        </footer>
    </body>

</html>