

    <form action="/login" method="POST">
        <div>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Ingresar</button>
        </div>
        <p class="form-text alert-hide">
            La combinación ingresada de email y contraseña no es válida.
        </p>
        <div class="field-group remember-me">
            <input type="checkbox" id="remember-me" name="remember-me" value="">
            <label for="remember-me">Recordarme</label>
        </div>
    </form>
