<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title : 'Productos'}) %>
  <body class="product-detail">
    <div class="banner-product">
      <img class="portada" src="https://w7.pngwing.com/pngs/312/283/png-transparent-man-s-face-avatar-computer-icons-user-profile-business-user-avatar-blue-face-heroes-thumbnail.png" alt="Portada" />
      <h2>Nombre persona/proyecto</h2>
      <p>categoria</p>
      <div>
        <p>Seguinos en las redes</p>
        <div>
            <a href="">instagram</a>
            <a href="">facebook</a>
        </div>
      </div>
    </div>
    <div class="resume-product">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore
        cupiditate saepe veritatis? Tempora nobis dolorem beatae placeat tenetur
        distinctio officia sequi aspernatur, ad consequuntur corporis, adipisci
        nihil nesciunt eaque possimus.
      </p>
    </div>
  </body>
</html>
