<footer class="container-fluid">
    <div class="footer__enlaces">
      <h3>Nosotros</h3>
      <ul>
        <li><a href="/">ENLACE 1</a></li>
        <li><a href="/">ENLACE 2</a></li>
        <li><a href="/">ENLACE 3</a></li>
        <li><a href="/">ENLACE 4</a></li>
      </ul>
    </div>
    <div class="footer__enlaces">
      <h3>Explorá</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/catalog">Mujeres Emprendedoras</a></li>
        <li><a href="/register">Registrate</a></li>
        <li><a href="/login">Ingresá a tu cuenta</a></li>
      </ul>
    </div>
    <div class="footer__enlaces">
      <h3>Recursos</h3>
      <ul>
        <li><a href="/">ENLACE 1</a></li>
        <li><a href="/">ENLACE 2</a></li>
        <li><a href="/">ENLACE 3</a></li>
        <li><a href="/">ENLACE 4</a></li>
      </ul>
    </div>
 
</footer>


<script src="/scripts/scripts.js"></script>