<footer class="container-fluid">
<div class="container">

<article class="footer__article">
  <div class="footer__nosotros">  
    <img src="/img/logo.jpeg">
      <h5>Sobre nosotros</h5>
        <p>Texto a definir por la fundación</p>
      </div>
   
      <div class="footer__enlaces">
    
      <h5 data-bs-toggle="modal" data-bs-target="#exampleModal">
           <p>Haz click aqui para acceder a nuestras capacitaciones</p>
      </hs>
          
          <!-- Modal -->
          <div class="modal fade" style="color: black;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Videos de Capacitaciones 2020/2021 - Mujeres Emprendedoras</h1>
                
                </div>
                <div class="modal-body">
                <ul class=" d-flex flex-column justify-content-start">
                  <li> 
                    
                    <a href="https://www.youtube.com/watch?v=y4hKrem28yA&t=2s" target="blank"><p>Fotografía: 
                    Karina Arten</p>
                      </a>
                    
                  </li>
                <li>
                  <a href="https://www.youtube.com/watch?v=T5_8HpjLirQ
                  
                  " target="_blank"><p>Marketing
                    Milu Williams
                    

                </p></a>
                </li>
              
                <li>
                  <a href="https://www.youtube.com/watch?v=bfxjzoY8MqI
                  
                  " target="_blank"><p>Costos
                    Vero Pulis Karina Riesgo	

                </p></a>
                </li> <li>
                  <a href="https://www.com/watch?v=cjgr6Utb1Tk

                  " target="_blank"><p>Instagram Andrea Renzo Marina Ordoñez	

                </p></a>
                </li> <li>
                  <a href="https://www.youtube.com/watch?v=YhYX9brep-Q

                  " target="_blank"><p>Redes Sociales Nico Archie	

                </p></a>
                </li> <li>
                  <a href="Finanzas - Vero Pulis	https://www.youtube.com/watch?v=rEdAqDeoL7Q&t=3s

                  " target="_blank"><p>Finanzas - Vero Pulis	

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/L7jNkW9YhEs " target="_blank"><p>Emociones y Emprender
                    Valeria Schiavo 
                    

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/4N_eUFeQJr0 

                  " target="_blank"><p>Emociones a través del cuento – Mary Carrizo	

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/9tlthTElFrA

                  " target="_blank"><p>Tacones en Acción 	

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/93NGPZEj00Y
                  
                  " target="_blank"><p>Aprender del Error
                    Ale Marcote	

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/Xbcnv8AFbJQ 
                  
                  " target="_blank"><p>Gestion del Tiempo y Productividad
                    Valeria Schiavo	

                </p></a>
                </li> <li>
                  <a href="https://www.youtube.com/watch?v=-dLJvm3VaiI&ab_channel=CEMI
                  
                  " target="_blank"><p>Ganale a los números – 5 pasos para calcular costos y potenciar tu emprendimiento
                    Bahilde Farias	

                </p></a>
                </li>
                <li>
                  <a href="https://youtu.be/Q0HwyBtXj5c

                  " target="_blank"><p>Como Emprender Mujer – Patricia Funes	

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/576l-elD6bs 

                  " target="_blank"><p>Resiliencia – Florencia Bravo	 

                </p></a>
                </li> <li>
                  <a href="	https://youtu.be/rf1f3l-I08Q 

                  " target="_blank"><p>Fotografía – Violeta Carvel – Pedro Funes

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/lablBwgTFSo 

                  " target="_blank"><p>Redes Marketing Digital - Sociales – Millu Williams – Nico Archie	

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/h0pcQl88TY0 

                  " target="_blank"><p>Monotributo y Facturación – Karina Riesgo 

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/Tv1nmrjIAjY 

                  " target="_blank"><p>Ventas Estacionales – Angy Comba -Moser & Asoc.	

                </p></a>
                </li> <li>
                  <a href="	https://youtu.be/3M2i5BOhMrQ 

                  " target="_blank"><p>Mesa de Mujeres Emprendedoras – Honi Gomez (Mia), Florencia Farina (Oreshki) – Tici y Vale (Teste)

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/kYmY25RtDuM

                  " target="_blank"><p>Motivación – Natalia Moser	

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/v5kZeUx355I

                  " target="_blank"><p>Como presentar un plan de negocios – Patricia Funes	 

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/aRo4lHGIDHE 

                  " target="_blank"><p>Definiendo Objetivos – Modelo Meta 2 – Patricia Funes	 

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/x27LPO20hpI 

                  " target="_blank"><p>Finanzas – Que debo planear – Vero Pulis	

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/MYMhmS3Z-Cc

                  " target="_blank"><p>Metodologías Agiles aplicadas a tu emprendimiento – Diego Gonzalez	

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/hLPv39HRyZ4 

                  " target="_blank"><p>Registro de Marca – Luciana Noli – Karina Riesgo	 

                </p></a>
                </li> <li>
                  <a href="https://youtu.be/G3xzHLgVqyc

                  " target="_blank"><p>Atención al Cliente – Angeles Comba	

                </p></a>
                </li>
                <li>
                  <a href="https://youtu.be/j4zhFIgYij0

                  " target="_blank"><p>Escribiendo Historias – Bahilde Farias	

                </p></a>
                </li>
                </ul>
                
                
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 
                </div>
              </div>
            </div>
          </div>
        
    </div>
    
    <div class="footer__contacto">
      <h5>Contacto</h5>
      <ul>
        <li>CEMI</li>
        <li>+54 011 4584 6561</li>
        <li>Libertad 257 Piso 5 Departamento "I"</li>
        <li>Capita Federal - República Argentina</li>
        <li>info@migrantesemprendedoras.com.ar</li>
      </ul>
    </div>
 
</article>
<hr class="border-line">
  <div class="social__media">

<a href="https://www.instagram.com/migrantesemprendedoras"><i class="fa-brands fa-instagram"></i></a>
<a href="https://www.facebook.com/migrantesemprendedoras"><i class="fa-brands fa-facebook-f"></i></a>

  </div>
  <article class="footer__copyright">
  <h20>© 2024 Red de Mujeres Emprendedoras. Todos los derechos reservados.</h20></article></div>
</footer>
<script src="/scripts/scripts.js"></script>
