<header class="container-fluid">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-a" href="/menu">
          <i class="fa-solid fa-bars" style="color: #e3ebf8"></i>
        </a>
        <a class="navbar-a" href="/login">
          <i class="fa-solid fa-right-to-bracket" style="color: #e3ebf8"></i
        ></a>
      </div>
    </nav>
  </header>