<header class="container-fluid">

    <nav class="navbar">
      <div class="container">
  
  
        
  
        <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid">
  
  
  
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"> Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/entrepreneurships/catalog"> Catalogo de emprendedoras </a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="https://cemi.org.ar/"> Nosotros </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact"> Contacto </a>
                </li>
              </ul>
  
  
            </div>
  
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" href="/admin/requests"> Bandeja de Solicitudes </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/users"> Listado de Usuarios </a>
                </li>
               
              </ul>

  
          </div>

        </nav><div>
            <button type="button" class="btn btn-outline-success">Admin</button>

        <a class="nav-link active" href="/"><i class="fa-regular fa-circle-xmark"></i> Exit</a>

  
    </div>
      </div>
  
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-center">
              <h1 class="text-end" id="staticBackdropLabel">Iniciar sesión</h1>
  
  
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
  
  
              <!-- formulario de registro REVISAR GUARADO DE DATOS-->
              <form class="access-form" action="" method="get">
  
                <section class="d-flex align-items-center justify-content-center">
                  <label for="email"></label>
                  <input type="email" id="email" name="email" placeholder="Email" value="" required>
                </section>
                <section class="d-flex align-items-center justify-content-center">
                  <label for="password"></label>
                  <input type="password" id="passsword" name="password" placeholder="password" value="" required>
                </section>
  
  
  
                <div class="field-group remember-me">
                  <input type="checkbox" id="remember-me" name="remember-me" value="">
                  <label for="remember-me">Recordarme</label>
                </div>
  
               
                <button class="btn btn-primary" type="submit" name="send">Ingresar</button>
  
                <a class="btn btn-primary" href="/register">
                  <i>Creá tu cuenta </i></a>
  
  
                <a class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</a>
            </div>
            </section>
            </form>
  
  
            <!-- Finaliza form de registro-->
  
  
          
          </div>
        </div>
      </div>
      </div>
  
    </nav>
  </header>