<div class="modal-body d-flex align-items-center justify-content-center" style="padding: 0 16px 16px;">


    <!-- formulario de registro REVISAR GUARADO DE DATOS-->
    <form class="access-form p-2" action="/users/login" method="POST">

      <section class="d-flex align-items-center justify-content-center" style="padding: 20px; margin: 20px auto;">
        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="Email" value="" class="form-control">
      </section>
      <section class="d-flex align-items-center justify-content-center" style="padding: 20px; margin: 20px auto;">
        <label for="password"></label>
        <input type="password" id="passsword" name="password" placeholder="Contraseña" value="" class="form-control">
      </section>


      <div class="container justify-content: center;" style="padding: 20px; margin: 20px 0;">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Recordarme
          </label>
        </div>

    <div class="mt-3 d-flex justify-content-center">

        <button class="btn btn-primary" type="submit" name="send">Ingresar</button>

      </div>

      </div>
     <section class="d-flex align-items-center justify-content-center" style="padding: 20px; margin: 20px auto;">
        <p>¿Sos emprendedora y te gustaría sumarte a nuestro espacio? <a href="/users/register">Registrate gratis</a></p>
      </section>

  </form>

</div>