<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="modal-deleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-deleteLabel">Advertencia</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
            <h5>¿Desea eliminar la emprendedora?</h5>
            <div class="modal-footer">
                <button type="button" class="btn p-2" style="background-color: grey;" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn p-2" style="background-color: red;">Aceptar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>