<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head',{ title : 'Catalog' }) %>

  <body class="catalog catalog__main__container">
    <%- include('./partials/header',{ title : 'Catalog' }) %>

    <main class="container ">
      <div class="banner">
      </div>

      <!--buscador de categorias-->
      <section>
        <nav class="catalog__main__section__navbar">
          <div class="row">
            <div class="col-12 col-md-6">
              <form action="" class="d-flex align-items-center gap-2">
                <select name="" id="" class="form-select">
                  <option value="" selected hidden>Filtrar por categorías</option>
                  <option value="">
                    Belleza
                  </option>
                  <option value="">
                    Tecno
                  </option>
                </select>
                <button
                class="btn btn-outline-light"
                style="background-color: var(--color-salmonRed)"
                type="submit"
              
              >
                Filtrar
              </button>
            
              </form>
            </div>
           <div class="col-12 col-md-6">
            <form class="d-flex gap-2" role="search">
              <input
                class="form-control"
                type="search"
                placeholder="O ingresá lo que querés buscar..."
                aria-label="Search"
              />
              <button
              class="btn btn-outline-light"
              style="background-color: var(--color-salmonRed)"
              type="submit"
            
            >
            Buscar
          </button>
            </form>
           </div>
           
         
          </div>
        </nav>
        <section  class="catalog__main__section">
        <section class="row row-gap-4 mt-4">
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
          <article class="col-12 col-md-6 col-lg-4">
            <div class="card shadow">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
                <a href="https://www.instagram.com/puerta18/"<i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
              </div>
            </div>
          </article>
        </section>
      </section>
      </section>
    </main>
<%- include('./partials/footer',{title :'catalog'}) %>
  </body>
</html>
