<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head',{ title : 'Catalog' }) %>

  <body class="catalog catalog__main__container">
    <%- include('../partials/header',{ title : 'Catalog' }) %>

    <%- include('../partials/entrepreneur-detail',{
      entrepreneurship
    }) %>
  
    <%- include('../partials/footer',{title :'catalog'}) %>
  </body>
</html>
